.git
.github
.turbo
.trash
tmp
node_modules
apps/**/node_modules
apps/**/.turbo
apps/**/dist
apps/**/.cache
packages/**/node_modules
packages/**/.turbo
packages/**/dist
**/.DS_Store
**/*.log
**/*.sqlite
**/*.sqlite3
apps/cms/.env
apps/web/.env
